// Description-Window

.description-window{
  position: absolute;
  top: 200%;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex__center($text: center);
  @include with-border();
  background: $baseYellowColor;
  box-shadow: inset 0 0 60px 0 rgba(0,0,0,0.5);

  @media(min-width:$pc){
    min-height:630px;
  }

  [role="title"]{
    @include role-title();
    margin: 0 0 30px 0;

    @media (max-width:$sp) {
      font-size: 30px;
    }
  }

  textarea{
    width: 64%;
    padding: 2px 8px;
  }
  .p-desc-toolbar{
    width: fit-content;
    height: fit-content;
    margin: 0px 0 30px 0;
    padding: 5px 0;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 2px;

    .c-color-picker{
      width: 35px;
      height: 35px;
      margin: 0px 1px;
      border-width: 1px;
      border-radius: 1px;

      @media (max-width:$sp){
        width: 30px;
        height: 30px;
      }
    }

    .c-icon{
      margin: 0px 1px;
    }
  }
}

.p-pop-toolbar-fontsize{
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 148px;
  @include no-border;

  .c-button{
    height: 30px;
    width: 30px;
    background: #ffffffcb;
    @include no-border;
    border-radius: 50%;
    box-shadow: inset 0 0 0.5px 1.5px $baseGrayColor;
    overflow: hidden;

    &:nth-of-type(1){
      color:red;
      transform: rotate(-22deg) translateX(-50px) translateY(-53px);

      @media (max-width:$sp){
        transform: rotate(-1deg) translateX(-66.5px) translateY(40px);
        }

      &:hover{
        box-shadow: inset 0 0 0.5px 2.5px $basePinkColor;
      }
    }
    &:nth-of-type(2){
      color:green;
      transform: rotate(1deg) translateX(-68px) translateY(-34px);//1deg入れないとhoverが動作しない

      @media (max-width:$sp){
        transform: rotate(1deg) translateX(-66px) translateY(41.5px);//1deg入れないとhoverが動作しない
      }

      &:hover{
        box-shadow: inset 0 0 0.5px 2.5px $basePinkColor;
      }
    }

    &:nth-of-type(3){
      color:blue;
      transform: rotate(22deg) translateX(-75px) translateY(-3px) ;

      @media (max-width:$sp){
        transform: rotate(1deg) translateX(-67.5px) translateY(41.5px);
      }

      &:hover{
        box-shadow: inset 0 0 0.5px 2.5px $basePinkColor;
      }
    }
  }
}



.l-display{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .p-avatar-box{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width:$pc) {
      margin-right: 20px; // 吹き出し分のズレ
    }
  }

  .p-display__set{
    width: calc(100% - 200px);
    height: 220px;
    margin: 0 0 20px;
    padding: 1% 5%;
    background: $baseWhiteColor;
    border:solid #000 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 30px 0 rgba(0,0,0,0.1);

    @media (max-width:$sp) {
      width: 90%;
    }

    .hand-cards_outer{
      width: 100%;
      background: transparent;
    }

    .c-display-description{
      width: 100%;
      height:fit-content;
      min-height: 3em;
      max-height: 5em;
      padding: 2px 0;
      background: transparent;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      word-wrap: break-word;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

//吹き出し
.l-display:before{

  @media (min-width:$pc) {
    content:"";
    width: 0px;
    height: 0px;
    position: relative;
    top: 0px;
    left: 146px;
    border-top: 18px solid transparent;
    border-right: 43px solid #000;
    border-bottom: 3px solid transparent;
    outline:2px #fff;
  }

}

.finish-modal{

  > div{
    width: fit-content;
    height: fit-content;
    padding: 40px;
    @include flex--center($text:center);
    background: #ffffffee;
    @include with-border();
    @include mainText();

    p{
      width: fit-content;
      height: fit-content;
      margin: 0 0 30px 0;
      // text-align: center;
    }

    .button-outer{
      width:200px;
      display: flex;
      justify-content: space-between;
    }
  }
}