// // Utility // //

.is-active{
  display: block !important;
}
.is-hidden{
  display: none !important;
}

// // flexBoxSet

// space-between
@mixin flex--space-between{
display: flex;
justify-content: space-between;
align-items: center;
}

// center
@mixin flex--center(
  $text: left,
  $jc: center
){
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: center;
  text-align: $text;
}

// border-radius [borderより上に配置]
@mixin border-radius(
  $radius: 2px
){
  border-radius: $radius;
}


// // borderSet

// border__なしの場合
@mixin no-border {
  border: none;
  // box-shadow: 1px 1px 3px 1px $baseBlackColor;
  @include border-radius();
}
// border__ありの場合
@mixin with-border (
  $style: solid,
  $color: $baseBlackColor,
  $width: 2px
){
  border: $style $color $width;
  // box-shadow: 1px 1px 3px 1px $baseBlackColor;
  @include border-radius();
}

// // TEXT

// MAIN-SET
@mixin mainText (
  $color: $baseBlackColor,
  $size: $medium,
  $line-height: $medium,
  $weight: 400,
  $letter-spacing: 1px
){
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
@mixin strongText (
  $color: $baseBlackColor,
  $size: $large,
  $line-height: $large,
  $weight: 600
){
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0.9px;
}

// FONT-SIZE
$large: 40px;
$medium: 16px;
$small: 12px;

// FONT-FAMILY
//のちほど


// SortWindow Animation
.sortWindowAppearance{
  animation-name: sort-window-height;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes sort-window-height{
  0%   {top: 100%;}
  20%  {top: 20%;}
  50%  {top: 0%;}
  85%  {top: 30%;}
  90%  {top: 0%;}
  95%  {top: 20%;}
  100% {top: 0%;}

}

// p[role="title"]
@mixin role-title(
  $shadow: none
){
  width: fit-content;
  height: 40px;
  @include strongText(
    $color: #000,
    $size: $large - 3px,
    $line-height: $large - 3px
    );
  text-shadow:$shadow;
}


.u-span-text__black{
  color: $baseBlackColor;
}
.u-span-text__mac-black{
  color: #1d1d1f;
}
.u-span-text__pink{
  color: #e05e7a;
}

