// 変数の宣言--色
$baseWhiteColor: #fafafa;
$baseBlackColor: #333333;
$baseGrayColor: #777777;
$baseBlueColor: #5e9bc1;
$basePinkColor: #ffc0cb;
$baseGreenColor: #08794a;
$gameTableColor: #08794a;
$baseYellowColor: #f3efc4;
// 変数 ウィンドウ幅
// $sp: 767px;
// $pc: 768px;
$sp: 573px;
$pc: 574px;
