

// モーダル
.c-modal{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000099;
  @include flex--center;
}

//  (×)  押したらクローズするボタン
.c-close-button__x{
  width: 30px;
  height: 30px;
  padding: 0 0 2px 0;
  background: transparent;
  border:solid $baseBlackColor 1px;
  border-radius: 50%;
  font-size: 27px;
  line-height: 26px;
  // @include flex--center;
  text-align: center;
  cursor: pointer;
}

// アバター

$avatar-size__normal: 100px;
$avatar-size__large: 200px;

@mixin avatar-img(
  $width: $avatar-size__normal,
  $height: $avatar-size__normal
){
  p{
    width: $width;
    height: $height;
    img{
      width: inherit;
      height: inherit;
    }
  }
}
// figureにつけたクラス
.c-avatar,
.c-avatar__tori,
.c-avatar__inu {
  // display: block;
  // width: fit-content;
  @include avatar-img();
  margin: 0;
  @include flex--center();
  .c-avatar__name{
    height: 20px;
    text-align: center;
    @include mainText (
      $color: #000000,
      $size: 22px,
      $weight: 400
      );
    font-family: "Nico Moji";
  }
}
// ***********

// カード
$tableHandCardWidth:42px;
$tableHandCardHeight:56px;
$handCardWidth:48px;
$handCardHeight:64px;
$stockCardWidth:60px;
$stockCardHeight:80px;
$largeCardWidth:75px;
$largeCardHeight:100px;

@mixin card(
  // $card-margin,
  $card-w:$handCardWidth,
  $card-h:$handCardHeight
)
{
  width: $card-w;
  height: $card-h;
  // margin: $card-margin;
  background: $baseWhiteColor;
  // background: transparent;
}

@mixin card__large(
  // $card-margin,
  $card-w:$largeCardWidth,
  $card-h:$largeCardHeight
)
{
  width: $card-w;
  height: $card-h;
  // margin: $card-margin;
  background: $baseWhiteColor;
  // background: transparent;

  @media (max-width:$sp) {
    width: $largeCardWidth - 9px;
    height :$largeCardHeight - 12px;
  }
}

.c-display-hand-cards{
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width:$sp) {
    height: 68px;
  }

  @media (min-width:$pc) {
    height: 85px;
  }

  li{
    padding:0 0px;
    @include strongText();
    @include with-border();
    text-align: center;
    @media (max-width:$sp) {
      padding: 10px 0;
      @include card(
        $card-w: $handCardWidth,
        $card-h: $handCardHeight );
    }

    @media (min-width:$pc) {
      padding: 16px 0;
      @include card__large(
        $card-w: $largeCardWidth - 21px,
        $card-h: $largeCardHeight - 28px );
    }
  }
}


// ボタン


.c-button{
  width: fit-content;
  height: 40px;
  padding: 2px 3px 2px 3px;
  background: $baseWhiteColor;
  @include with-border();
  border-radius: 3px;
  @include mainText($weight:600);
  text-align: center;
  word-break: keep-all;
  cursor: pointer;

  @media (max-width:$sp) {
    width: fit-content;
    height: 35px;
    padding: 2px 4px 2px 4px;
    @include mainText(
      $weight:600,
      $size:$medium - 1px);
  }
}
.c-button:hover{
  // background: $basePinkColor;
  box-shadow: inset 0 0 0.5px 2.5px #fff;
  background: #9acbea;
}
.c-button:disabled{
  background-color: #c0c0c0;
}


.c-icon{
  width: 35px;
  height: 35px;
  padding: auto;
  background: $baseWhiteColor;
  @include with-border(
  $color:#777,  
  $width:1px);
  border-radius: 1px;
  color: #555;
  font-size: 18.5px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  @media (max-width:$sp) {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    padding: 2px 4px 2px 4px;
    @include mainText(
      $weight:600,
      $size:$medium - 1px);
  }
  &[aria-expanded="true"]{
    background: #df4d4d;
  }
  &:hover{
    // background: $basePinkColor;
    box-shadow: inset 0 0 0.5px 2.5px $basePinkColor;
    background: #999;
  }
  &:disabled{
    background-color: #ccc;
  }
}

.p-pop__dakuten{
  width: 330px;
  height: 63px;
  margin: 10px 0 0 0;
  padding: 5px 20px;
  display: flex;
  justify-content: space-around;
  background: #fffaca;
  @include with-border(
    $style: double,
    $color: #ccb800,
    $width: 3px
    );
  box-shadow: 1px 2px 3px 1px #555555dd;
  p{
    width: fit-content;
    height: fit-content;
    padding: 7px;
    margin: 0 8px 0 0;
    @include with-border(
      $style: dotted,
      $color: #ff5050
      );
    border-radius: 5px;
    @include strongText(
      $size: 32px,
      $line-height: 32px
    );
    &:nth-of-type(1){
      border-color: #2e9e8a;
    }
    &:nth-of-type(2){
      border:none;
      color: #ff7f50;
    }
    &:last-of-type{
      margin: 0;
    }
  }
  // &:before{
  //   content: "変換候補";
  //   // width: 80px;
  //   height: 40px;
  //   padding: 10px 20px 10px 0;
  //   position: absolute;
  //   top: 72%;
  //   left: 0%;
  //   background: #fff;
  //   border-style: solid;
  //   border-width: 2px 2px 2px 0;
  //   border-color: #000;
  //   border-radius: 2px;

  //   word-break: keep-all;

  // }
}


// ⬇︎
.c-arrow{
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width:90px;
  height:90px;
  fill: #d36d24;
  @media (max-width:$sp) {
    width:70px;
    height:70px;
    fill: #e4d97a;
  }
}
