content{
  @include flex--center;
}

.p-start-button{
  margin: 10px 0 10px 0 ;
  background: #3995ae;
}


// プレーヤーの切り替えボタン
// (ステートの表示)
.l-turn-state{
  position: absolute;
  top: 100px;
  left: auto;
  right: auto;
  background: $basePinkColor;
  &:after{
    content: "プレイヤー１";
  }
  &[aria-expanded="true"]{
    background: $baseBlueColor;
  }
  &[aria-expanded="true"]:after{
    content:"プレイヤー２のターン";
  }
}

// information  ***間借り中***
.l-information{
  width: 500px;
  height: 50px;
  margin: 10px 0 0;
  @include flex--center($text:center);
  @include with-border();
  @include mainText($color:#000000);
}

.is-active{
  display: block !important;
}

.is-hidden{
  display: none !important;
}

.js_handCards > .is-select{
  color: red;
  background: yellow;
}


// 後ほどリファクタリングするべし

.c-modal__first{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50% 0 0 0;
  background: #00000099;
  .modal-greenback{
    // margin: 50px 0 0 0 ;
    @include strongText();
    @include flex--center();
    background: green;
    transform: translateY(-100%);
    
    div{
      display: flex;
      align-items: center;
      .c-first-btn__tori{
        width: 100px;
        height: 100px;
        img{
          width: inherit;
          height: inherit;
        }
      }
      .c-first-btn__vs{
        img{
          width: 200px;
        }
      }
      .c-first-btn__inu{
        width: 100px;
        height: 100px;
        img{
          width: inherit;
          height: inherit;
        }
      }
    }
  }
}