// プレーヤー操作エリア

.l-player-field{
  width: 100%;
  height: 160px;
  margin: 10px 0 0 0; //仮
  padding: 0px 15px 0px 15px;

  background: #6b2d00;
  box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.7);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  @media (max-width:$sp) {
    height: 140px;
    padding: 0px 5px 0px 5px;
  }
  .p-player-area{
    width: 100%;
    height: 100%;
    padding: 11px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // 左
    .c-avatar{
      background: $baseWhiteColor;
      padding: 8px;
      margin: 0 5px 0 0;
      @include with-border();
      @media(max-width:$sp){
        padding: 8px 0;
      }
    }
  }
}



// 右
.c-control-area{
  // width: 500px;
  width: 100%;
  height: 138px;
  display: flex;
  flex-direction: column;
  // background: #ded5ac;
  background: $baseYellowColor;
  @include with-border();
  box-shadow: inset 0 0 50px 0 rgba(0,0,0,0.1);
  @media (min-width:$pc) {
    padding: 0 5%;
  }
  @media (max-width:$sp) {
    height: 133px;
    padding: 0px 5px 0px 5px;
  }
  // @media (max-width:$sp) {
  //   height: 121px;
  // }

  .c-buttons{
    width: inherit;
    order: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    @media (min-width:$pc) {
      height: 50px;
      padding: 0 20%;
    }
    @media (max-width:$sp) {
      height: 45px;
      padding: 0 1%;
    }

  }
}

//詳細度下げるためツリーから独立
.c-hand-cards{
  order:2;
  // width: inherit;

  display: flex;
  justify-content: space-around;
  @media (min-width:$pc) {
    height: 84px;
    padding: 0 10%;
    align-items: center;
  }
  @media (max-width:$sp) {
    height: 64px;
    margin: 10px 0;
    align-items: flex-end;

  }
  li{
    text-align: center;
    @include card(
      $card-w:$handCardWidth,
      $card-h:$handCardHeight
    );
    padding: 8px 0;
    @include with-border();
    @include strongText;
  };
  cursor: pointer;
}

.js_handCards > .is-select{
  color: red;
  background: yellow;
}
