// 変数の宣言--色
$baseWhiteColor: #fafafa;
$baseBlackColor: #333333;
$baseGrayColor: #777777;
$baseBlueColor: #5e9bc1;
$basePinkColor: #ffc0cb;
$baseGreenColor: #08794a;
$gameTableColor: #08794a;
$baseYellowColor: #f3efc4;
// 変数 ウィンドウ幅
$sp: 767px;
$pc: 768px;

// figure {
// 	display: block;
// 	margin-block-start: 0em;
// 	margin-block-end: 0em;
// 	margin-inline-start: 0px;
// 	margin-inline-end: 0px;
// }
// YUIベースのリセットCSS
*{
	box-sizing: border-box;
	font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	height: 100vh;
  overflow-x: hidden;
  // overflow-y: scroll;
  overflow-y: hidden;
}

a {
	text-decoration: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}

ol,
ul {
	list-style:none;
}

caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%; /*to enable resizing for IE*/
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}